
.button11{
    border-radius: 20px;
   
}


.roda{
    background-color: rgba(84, 202, 84, 0.404);
    padding: 20px;
}
.roda2{
    background-color: rgba(61, 60, 60, 0.705);
    padding: 20px;
}

#botaocentral{
  margin: bottom 50px;
  padding: 500px;
  margin-top: -40px;
}

h2{
    text-align: center;
}

.borda{
    padding: 200px;
    border-radius: 20px; 
    text-align: center;
    margin: 30px;
    border-style: solid;
 
}

.checked {
  color: orange;
}

.texto{
    text-align: center;
    color: rgb(100, 99, 99);
}
.texto2{
    text-align: center;
    text-justify: center;

}