
.pequeno{
    height: 330px;
    background-repeat: no-repeat;
    background-size: cover;
    border-style: none;
    color: white;
    padding-top: 210px;

}

.grande{
    height: 430px;
    background-repeat: no-repeat;
    background-size: none;
    border-style: none;
    color: white;
    padding-top: 310px;
}

.button11{
    border-radius: 20px;
   
}

.coracao {
    float: right;
    padding: 15px;
    opacity: 70%;
    background-color: rgb(141, 141, 141);
    border-radius: 100px;
    margin-top: -40px;
    
}

.roda{
    background-color: rgba(84, 202, 84, 0.404);
    padding: 20px;
}
.roda2{
    background-color: rgba(61, 60, 60, 0.705);
    padding: 20px;
}

#botaocentral{
  margin: bottom 50px;
  padding: 500px;
  margin-top: -40px;
}

h2{
    text-align: center;
}

.borda{
    padding: 200px;
    border-radius: 20px; 
    text-align: center;
    margin: 30px;
    border-style: solid;
 
}

.checked {
  color: orange;
}
